<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>Doctors</title></head>
<body>

<h1>Doctors</h1>

<a href="/doctors/new">Add Doctor</a><br><br>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Department</th>
        <th>License</th>
        <th>Actions</th>
    </tr>

    <tr th:each="d : ${doctors}">
        <td th:text="${d.id}"></td>
        <td th:text="${d.name}"></td>
        <td th:text="${d.department.name}"></td>
        <td th:text="${d.licenseNumber}"></td>

        <td>
            <a th:href="@{/doctors/{id}(id=${d.id})}">Details</a> |
            <a th:href="@{/doctors/{id}/edit(id=${d.id})}">Edit</a> |
            <form th:action="@{/doctors/{id}/delete(id=${d.id})}" method="post" style="display:inline;">
                <button>Delete</button>
            </form>
        </td>
    </tr>
</table>

</body>
</html>
