<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hospital Form</title>
</head>
<body>

<h1 th:text="${hospital.id == null} ? 'Add Hospital' : 'Edit Hospital'"></h1>

<form th:action="${hospital.id == null} ? '/hospitals' : '/hospitals/' + ${hospital.id} + '/update'"
      th:object="${hospital}" method="post">

    <label>ID:</label><br>
    <input type="text" th:field="*{id}" th:readonly="${hospital.id != null}"><br><br>

    <label>Name:</label><br>
    <input type="text" th:field="*{name}"><br><br>

    <label>City:</label><br>
    <input type="text" th:field="*{city}"><br><br>

    <button type="submit" th:text="${hospital.id == null} ? 'Create' : 'Update'"></button>
</form>

<br>
<a href="/hospitals">Back</a>

</body>
</html>
