<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hospitals</title>
</head>
<body>

<h1>Hospitals</h1>

<a href="/hospital/add">Add Hospital</a>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>City</th>
        <th>Actions</th>
    </tr>

    <tr th:each="h : ${hospitals}">
        <td th:text="${h.id}"></td>
        <td th:text="${h.name}"></td>
        <td th:text="${h.city}"></td>

        <td>
            <a th:href="@{/hospital/details/{id}(id=${h.id})}">Details</a> |
            <a th:href="@{/hospital/edit/{id}(id=${h.id})}">Edit</a> |
            <a th:href="@{/hospital/delete/{id}(id=${h.id})}"
               onclick="return confirm('Sure?')">Delete</a>
        </td>
    </tr>

</table>

</body>
</html>
