<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hospitals</title>
</head>
<body>

<h1>Hospitals</h1>

<a href="/hospitals/new">Add Hospital</a>
<br><br>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Address</th>
        <th>Phone</th>
        <th>Actions</th>
    </tr>

    <tr th:each="h : ${hospitals}">
        <td th:text="${h.id}"></td>
        <td th:text="${h.name}"></td>
        <td th:text="${h.address}"></td>
        <td th:text="${h.phoneNumber}"></td>

        <td>
            <a th:href="@{/hospitals/{id}(id=${h.id})}">Details</a> |
            <a th:href="@{/hospitals/{id}/edit(id=${h.id})}">Edit</a> |
            <form th:action="@{/hospitals/{id}/delete(id=${h.id})}"
                  method="post" style="display:inline;">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
</table>

</body>
</html>
