<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hospital List</title>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            padding: 5px;
        }
        th, td {
            text-align: left;
        }
        a {
            text-decoration: none;
            color: blue;
        }
    </style>
</head>
<body>

<h1>List of Hospitals</h1>

<a href="/hospitals/new">Add New Hospital</a>
<br><br>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>City</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="hospital : ${hospitals}">
        <td th:text="${hospital.id}"></td>
        <td th:text="${hospital.name}"></td>
        <td th:text="${hospital.city}"></td>
        <td>
            <form th:action="@{/hospitals/{id}/delete(id=${hospital.id})}" method="post">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>
