<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Room Details</title>
</head>
<body>

<h1>Room Details</h1>

<p><b>ID:</b> <span th:text="${room.id}"></span></p>
<p><b>Hospital ID:</b> <span th:text="${room.hospitalId}"></span></p>
<p><b>Number:</b> <span th:text="${room.number}"></span></p>
<p><b>Capacity:</b> <span th:text="${room.capacity}"></span></p>
<p><b>Status:</b> <span th:text="${room.status}"></span></p>

<br>
<a href="/rooms">Back</a>

</body>
</html>