<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Departments</title>
</head>
<body>

<h1>Departments</h1>

<a href="/department/add">Add Department</a>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Hospital</th>
        <th>Actions</th>
    </tr>

    <tr th:each="d : ${departments}">
        <td th:text="${d.id}"></td>
        <td th:text="${d.name}"></td>
        <td th:text="${d.hospital.name}"></td>

        <td>
            <a th:href="@{/department/details/{id}(id=${d.id})}">Details</a> |
            <a th:href="@{/department/edit/{id}(id=${d.id})}">Edit</a> |
            <a th:href="@{/department/delete/{id}(id=${d.id})}"
               onclick="return confirm('Sure?')">Delete</a>
        </td>
    </tr>

</table>

</body>
</html>
