<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Patients</title>
</head>
<body>

<h2>Patients List</h2>

<a href="/patient/add">Add New Patient</a>
<br/><br/>

<table border="1" cellpadding="5">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Actions</th>
    </tr>

    <tr th:each="p : ${patient}">
        <td th:text="${p.id}"></td>
        <td th:text="${p.name}"></td>

        <td>
            <a th:href="@{'/patient/' + ${p.id}}">Details</a> |
            <a th:href="@{'/patient/delete/' + ${p.id}}">Delete</a>
        </td>
    </tr>

</table>

</body>
</html>
