<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Assignment Details</title>
</head>
<body>

<h1>Assignment Details</h1>

<table border="1">
    <tr>
        <th>Assignment ID:</th>
        <td th:text="${link.id}"></td>
    </tr>

    <tr>
        <th>Appointment ID:</th>
        <td th:text="${link.appointment?.id}"></td>
    </tr>
    <tr>
        <th>Date:</th>
        <td th:text="${link.appointment?.admissionDate}"></td>
    </tr>
    <tr>
        <th>Patient:</th>
        <td th:text="${link.appointment?.patient?.name}"></td>
    </tr>

    <tr>
        <th>Medical Staff ID:</th>
        <td th:text="${link.medicalStaff?.id}"></td>
    </tr>
    <tr>
        <th>Staff Name:</th>
        <td th:text="${link.medicalStaff?.name}"></td>
    </tr>
</table>

<br>
<a th:href="@{/medicalstaffapp}">Back to List</a>
|
<a th:href="@{/medicalstaffapp/{id}/delete(id=${link.id})}"
   onclick="return confirm('Are you sure?')">Delete</a>

</body>
</html>