<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Medical Staff Assignments</title>
</head>
<body>

<h1>Medical Staff Assignments</h1>

<a href="/medicalstaffapp/new">Assign Staff to Appointment</a>
<br><br>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Staff</th>
        <th>Role</th>
        <th>Appointment</th>
        <th>Actions</th>
    </tr>

    <tr th:each="a : ${assigned}">
        <td th:text="${a.id}"></td>
        <td th:text="${a.staff.name}"></td>
        <td th:text="${a.staff.getClass().getSimpleName()}"></td>
        <td th:text="${a.appointment.id}"></td>

        <td>
            <a th:href="@{/medicalstaffapp/{id}(id=${a.id})}">Details</a> |
            <form th:action="@{/medicalstaffapp/{id}/delete(id=${a.id})}"
                  method="post"
                  style="display:inline;">
                <button>Delete</button>
            </form>
        </td>
    </tr>
</table>

</body>
</html>
