<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Appointment Details</title>
</head>
<body>

<h1>Appointment Details</h1>

<p><b>ID:</b> <span th:text="${appointment.id}"></span></p>
<p><b>Department ID:</b> <span th:text="${appointment.departmentId}"></span></p>
<p><b>Patient ID:</b> <span th:text="${appointment.patientId}"></span></p>
<p><b>Admission Date:</b> <span th:text="${appointment.admissionDate}"></span></p>
<p><b>Status:</b> <span th:text="${appointment.status}"></span></p>

<br>
<a href="/appointments">Back</a>

</body>
</html>
